

/* START Sjekker bredde på skjermen å stiller skrift deretter*/
.display-1 {
    font-size: 7rem;
    color: blue;
}

.display-2 {
    font-size: 4rem;
    color: blue;
}

.display-3 {
    font-size: 1.5rem;
    color: blue;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 1350px) {
    .display-1 {
        font-size: 4rem;
    }

    .display-2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1000px) {
    .display-1 {
        font-size: 2rem;
    }

    .display-2 {
        font-size: 2rem;
    }
}
/* END Sjekker bredde på skjermen å stiller skrift deretter*/

/*.navbar-brand{
     border: none;
     color: black;
     padding: 12px 16px;
     font-size: 16px;
     cursor: crosshair;
 }

 .navbar-brand:before {
   content: "M12060 11689 c-38 -12 -151 -96 -305 -228 -396 -339 -739 -725 -1025  -1151 l-77 -115 -154 7 c-352 15 -1618 21 -1984 9 -2342 -74 -3984 -447 -5169  -1174 -315 -193 -567 -390 -835 -652 -722 -707 -1191 -1626 -1537 -3017 -122 -490 -207 -908 -400 -1963 -252 -1386 -350 -1869 -514 -2539 -41 -166 -60 -264 -58 -295 l3 -46 95 -22 c1206 -287 2006 -414 3065 -485 250 -17 1084 -17 1315 0 1208 87 2130 318 3000 751 927 461 1686 1128 2267 1989 642 953 1075 2178 1252 3542 112 864 140 1823 81 2760 -12 187 -47 624 -60 735 l-8 80 50  70 c276 381 655 725 1083 980 178 106 432 224 603 279 l52 18 0 60 c0 59 -1 61 -46 102 -139 123 -330 245 -450 286 -69 24 -195 34 -244 19z";
   width: 20px;
   float: left;
   margin-right: 5px;
   margin-top: -2px;
 } */

 .founderImg {
     height:15vw;
     width:15vw;
     border-radius: 50%;
 }

 .navbar-collapse.collapse.in{
   background-color:lightgreen;
 }

 #founderContainer {
     margin-top:-10vw;

 }

 #tjenesterContainer {
     margin-top:10vw;


 }

 .founderTitle {
     color:white;

 }

 #Tjenester {
     padding-bottom:3vw;
 }

 #founderHeader {
    margin-top: 25vw; /*18 vw*/
    color:white;

 }

 #Ansatte {
    color:white;
 }

 .navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

 /*#logoImg {
     height:20px;
     width:20px;
     margin-right:3px;
      vertical-align:baseline;
 }*/
