

/* START Sjekker bredde på skjermen å stiller skrift deretter*/
.display-1 {
    font-size: 7rem;
    color: blue;
}

@media only screen and (max-width: 1500px) {
    .display-1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1000px) {
    .display-1 {
        font-size: 2rem;
    }
}
/* END Sjekker bredde på skjermen å stiller skrift deretter*/

.navbar-toggler{
     border: none;
     color: grey;
     padding: 12px 16px;
     font-size: 16px;
     cursor: pointer;
 }

 .navbar-toggler:before {
   content: "C:\Users\janni\github\Home\Bilder\Leaf_svg\147420-4caf50.svg";
   width: 20px;
   float: left;
   margin-right: 5px;
   margin-top: -2px;
 }
