
/* INFO OM CSS */
/* display-1 er satt av til overskrift tittel*/


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* Generell css */
* {
    margin: 0;

}

html {
  scroll-behavior: smooth;
}

.wrapper {
    width: 100%;
    position: absolute;

}

.navbar {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

}

#founderContainer > .display-2 {
    font-size: 4rem;
    color: white;
}

/* Posisjonering av containers */
    #Tjenester {
        padding-bottom:3vw;
        padding-top: 3vw;
    }
    #tjenesterContainer {
      margin-top: -150vw;
      padding-top: 0vw;
    }

    #footer {
        height:200px;
        width:100%;
        background-color:#242e37;
    }


    /* Størrelse på tjenestene */
    .tjenesteikon {
        height: 9vw;
        width: 9vw;
    }

    /* Generell for ansatte del*/
        .founderImg {
            border-radius: 50%;

        }

        #ansatte-bilder {
            margin-top: 3vw;
        }

        .founderTitle {
            color: white;
        }




/*---Media Queries --*/

    /* Alt over 1200px */
    .display-1 {
        font-size: 6rem;
    }
    .display-2 {
        font-size: 2.7rem;
    }

    .founderImg {
        height:15vw;
        width:15vw;

    }


    #founderContainer {
        margin-top: 17vw;
    }

    @media (min-width: 1500px) {
        .display-1 {
            font-size: 7rem;

        }

        .founderImg {
            height:12vw;
            width:12vw;

        }
        .tjenesteikon {
            height:10vw;
            width:10vw;
        }

        #founderContainer {
            margin-top: 30vw;
        }
      }
    @media (max-width: 1200px) {
        .display-1 {
            font-size: 5rem;

        }

        .founderImg {
            height:16vw;
            width:16vw;

        }

        .tjenesteikon {
            height:9vw;
            width:9vw;
        }

        .andre-del {
            margin-top: -5vw;
        }


        #founderContainer {
            margin-top: 18vw;
        }

        #Tjenester {
            font-size: 2rem
        }
      }

    @media (max-width: 992px) {
        .display-1 {
            font-size: 4rem;

        }

        .founderImg {
            height:15vw;
            width:15vw;
            border-radius: 50%;
        }

        .tjenesteikon {
            height:9vw;
            width:9vw;
        }

        .tjeneste-info {
            font-size: 12px;
        }

        .andre-del {
            margin-top: -5vw;
        }

        #founderContainer {
            margin-top: 20vw;
        }

        #Tjenester {
            font-size: 2rem
        }

      }
    @media (max-width: 768px) {
        .display-1 {
            font-size: 3rem;

        }
        .display-2 {
            font-size: 2rem;
        }
        .founderImg {

            border-radius: 50%;
        }

        .founderImg {
            height:15vw;
            width:15vw;
            border-radius: 50%;
        }
        #founderContainer > .display-2 {
            font-size: 2rem;
        }

        #Tjenester {
            font-size: 2rem
        }

    }

    @media (max-width: 760px) {
        .display-1 {
            font-size: 3rem;

        }
        .display-2 {
            font-size: 2rem;
        }
        .founderImg {

            border-radius: 50%;
        }

        .founderImg {
            height:15vw;
            width:15vw;
            border-radius: 50%;
        }
        #founderContainer > .display-2 {
            font-size: 2rem;
        }
        #founderContainer {
          background-color: white;
          margin-top: 35vw;
        }
        #Tjenester {
            background-color: white;
        }
        .founderTitle {
            color: black;
        }
        #founderContainer > .display-2 {
            font-size: 2rem;
            color: black;
        }
        #tjenesterContainer {
          margin-top: -60vw;
          padding-top: 0vw;
          background-color: white;
        }
        .siste-del {
            margin-top: 200vw;
        }

    }

    @media (max-width: 576px) {
        .display-1 {
            font-size: 3rem;

        }
        .display-2 {
            font-size: 1rem;
        }
        .founderImg {

            border-radius: 50%;
        }

        .founderImg {
            height:25vw;
            width:25vw;
            border-radius: 50%;
        }
        #founderContainer {
          padding-top: 30px;
          background-color: white;
        }

        #Tjenester {
            background-color: white;
        }
        .founderTitle {
            color: black;
        }
        #founderContainer > .display-2 {
            font-size: 2rem;
            color: black;
        }
        #tjenesterContainer {
          margin-top: -30vw;
          padding-top: 0vw;
          background-color: white;
        }

        .siste-del {
            margin-top: 500vw;
        }

    }

    @media (max-width: 350px) {
        .display-1 {
            font-size: 2.3rem;

        }
        .display-2 {
            font-size: 1rem;
        }
        .founderImg {

            border-radius: 50%;
        }

        .founderImg {
            height:25vw;
            width:25vw;
            border-radius: 50%;
        }
        #founderContainer {
          padding-top: 30px;
          background-color: white;
        }

        #Tjenester {
            background-color: white;
        }
        .founderTitle {
            color: black;
        }
        #founderContainer > .display-2 {
            font-size: 2rem;
            color: black;
        }
        #tjenesterContainer {
          margin-top: -8vw;
          padding-top: 0vw;
          background-color: white;
        }

        .siste-del {
            margin-top: 300vw;
        }

    }

/* FOOTER */

    /* CSS til kontakt button i footer*/

    .button_container {
      position: max-auto;
      left: 0;
      right: 0;
      top: 30%;
      background-color:#242e37;
    }

    .button_obj {
      border: none;
      display: block;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      outline: none;
      overflow: hidden;
      position: relative;
      color: white;
      font-weight: 700;
      font-size: 5px;
      background-color: #152238;
      padding: 15px 30px;
      margin: 0 auto;
      box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    }
    .description{
      text-align: center;
    }

    .description {
      font-size: 15px;
    }

    .button_obj span {
      position: relative;
      z-index: 1;
    }

    .button_obj:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 300%;
      width: 140%;
      background: white;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
    }

    .button_obj:hover:after {
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }

    .button {
      border: none;
      display: block;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      outline: none;
      overflow: hidden;
      position: relative;
      color: white;
      font-weight: 700;
      font-size: 15px;
      background-color: #222;
      padding: 15px 30px;
      margin: 0 auto;
      box-shadow: 0 5px 15px rgba(0,0,0,0);
    }




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
